body {
    margin: 0px;
    width: 100%;
}

.meal {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px;
}

.order_img {
    width: 100%;
    margin: -1px !important;
    padding: 0px;
}

    .order_img img {
        width: 100%;
        height: 45%;
    }

.order_content {
    width: 100%;
    background-color: #F1F1F1;
}

.neme {
    width: 90%;
    padding: 10px 20px 0px 20px;
    font-size: 18pt;
    font-weight: bolder;
    color: #4F4F4F;
}

.explain {
    width: 90%;
    padding: 10px 20px 10px 20px;
    font-size: 14pt;
    font-weight: bolder;
    color: #777;
}

.annotation {
    width: 90%;
    padding: 5px 15px 25px 15px;
}

    .annotation p {
        font-size: 14pt;
        font-weight: bolder;
        color: #4F4F4F;
    }

    .annotation textarea {
        width: 104%;
        color: #4F4F4F;
        background: #e8ecf0; /* Old browsers */
        background: -moz-linear-gradient(top, #e8ecf0 0%, #eceff4 50%, #eceff4 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #e8ecf0 0%,#eceff4 50%,#eceff4 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #e8ecf0 0%,#eceff4 50%,#eceff4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecf0', endColorstr='#eceff4',GradientType=0 ); /* IE6-9 */
        border: none;
        border-radius: 10px;
        box-shadow: 5px 0 5px #c1c1c173 inset, 0 5px 5px #c1c1c173 inset,0 -5px 5px #fff inset, -5px 0 5px #fff inset;
        resize: none;
    }

.totalprice {
    width: 100%;
    padding: 10px 0px;
}

.quantity {
    width: 45%;
    display: inline-block;
    position: relative;
    margin: 5px 15px;
    text-align: center;
    background: #e8ecf0; /* Old browsers */
    background: -moz-linear-gradient(top, #e8ecf0 0%, #eceff4 50%, #eceff4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e8ecf0 0%,#eceff4 50%,#eceff4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e8ecf0 0%,#eceff4 50%,#eceff4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecf0', endColorstr='#eceff4',GradientType=0 ); /* IE6-9 */
    border-radius: 40px;
    box-shadow: 5px 0 5px #c1c1c173 inset, 0 5px 5px #c1c1c173 inset,0 -5px 5px #fff inset, -5px 0 5px #fff inset;
}

    .quantity input {
        height: 8%;
        background: none;
        color: #3489B8 !important;
        font-weight: bolder;
    }

    .quantity button {
        width: 25%;
        height: 8%;
        border: none;
        background-color: #3489B8;
    }

        .quantity button:active {
            width: 25%;
            height: 8%;
            border: none;
            background-color: #266c92;
        }



#num-jian {
    float: left;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 2px 0 3px #777;
}

#num-jia {
    float: right;
    border-radius: 0px 25px 25px 0px;
    box-shadow: -2px 0 3px #777;
}

    #num-jian:active, #num-jia:active {
        box-shadow: none;
    }

.quantity button i {
    color: #fff;
    width: 100%;
    padding-top: 3px;
}

.price_block {
    width: 45%;
    display: inline-block;
}

    .price_block button {
        width: 100%;
        border: none;
        border-radius: 50px;
        background-color: #C6332C;
        color: #fff;
    }

        .price_block button p {
            width: 45%;
            text-align: left;
            display: inline-block;
        }

        .price_block button .price {
            width: 45%;
            text-align: right;
            display: inline-block;
        }

